// Colors
$color-black-russian: #131315;
$color-light-dark: #302e2e;
$color-medium-persian-blue: rgb(90, 83, 190);
$color-blue: rgb(67, 57, 202);
$color-white: #ffffff;
$color-slate-grey: #6c7b8a;
$color-lighter-gray: rgba(214, 214, 214, 1);
$color-gray: #808080;

// Fonts
$font-family-roboto-regular: 'Roboto-Regular', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
